<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
  .imegs > img{
    width:50%;
  }
</style>
</head>

<body>

  <div class="container">
    <h2>Dynamic Tabs</h2>
    <p>To make the tabs toggleable, add the data-toggle="tab" attribute to each link. Then add a .tab-pane class with a
      unique ID for every tab and wrap them inside a div element with class .tab-content.</p>

    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#numstats">Numerical Statistics</a></li>
      <li><a data-toggle="tab" href="#catstats">Categorical Stats</a></li>
      <li><a data-toggle="tab" href="#sample">Sample</a></li>
      <li><a data-toggle="tab" href="#varover">Variable Overview</a></li>
      <li><a data-toggle="tab" href="#correlations">Correlation</a></li>
    </ul>

    <div class="tab-content">
      <div id="numstats" class="tab-pane fade in active">
        <h3>Statistics of Numerical Data</h3>
        <p>Descriptio will be here</p>
        {{stats|safe}}
      </div>
      <div id="catstats" class="tab-pane fade">
        <h3>Statistics of Categorical Data</h3>
        {{cat_info|safe}}
      </div>
      <div id="sample" class="tab-pane fade">
        <h3>Sample</h3>
        <p>Frst and Last 5 records</p>
        {{sample|safe}}
      </div>
      <div id="varover" class="tab-pane fade">
        <h3>Variable Overview</h3>
        <ul class="nav nav-tabs">
          <li><a data-toggle="tab" href="#histogram">Histograms</a></li>
          <li><a data-toggle="tab" href="#boxplots">BoxPlots</a></li>
        </ul>
        <div class="tab-content">
          <div id="histogram" class="tab-pane fade">
            <h4>HistoGrams</h4>
            <p>A histogram represents the distribution of variables by counting the number of observations</p>

            <h4>BoxPLots</h4>
            <p>A Box Plot displays the summary of the set of data values
              having properties like minimum, first quartile, median, third quartile and maximum.
              The x-axis denotes the data to be plotted while the y-axis shows the frequency
              distribution</p>
            <ul class="nav nav-tabs">
              {%for i in variables%}
              <li><a data-toggle="tab" href="#{{i}}0">{{i}}</a></li>
              {%endfor%}
            </ul>

            <div class="tab-content ">
              {%for i in variables%}
              <div id="{{i}}0" class="tab-pane fade imegs">
                <img src='data:image/png;base64,{{hists[loop.index0]}}'>
                <img src='data:image/png;base64,{{boxs[loop.index0]}}'>
              </div>
              {%endfor%}

            </div>
          </div>
          <div id="boxplots" class="tab-pane fade">
            
            <ul class="nav nav-tabs">
              {%for i in variables%}
              <li><a data-toggle="tab" href="#{{i}}1">{{i}}</a></li>
              {%endfor%}
            </ul>

            <div class="tab-content">
              {%for i in variables%}
              <div id="{{i}}1" class="tab-pane fade">
                
              </div>
              {%endfor%}

            </div>
          </div>
        </div>
      </div>
      <div id="correlations" class="tab-pane fade">
        <h3>Correlation</h3>
        <p>Frst and Last 5 records</p>
        {{sample|safe}}
      </div>
    </div>
  </div>

</body>

</html>